{% extends "principal2.html" %}
{% block contentido %}

  <h3>Listado de Estudiantes</h3>
  <p><b>Número de Estudiantes: ({{numero_estudiantes}})</b> </p>

  <div class="table-wrapper">
  <table id="tabla_datos" class="styled-table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Ciudad</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for e in estudiantes  %}
      <tr>
        <td>{{e.nombre}}</td>
        <td>{{e.apellido}}</td>
        <td>{{e.correo}}</td>
        <td>{{e.ciudad}}</td>
        <td><a href="{% url 'editar_estudiante' e.id %}">editar</a></td>
      </tr>
      {% endfor %}

    </tbody>
    </table>
  </div>
    <script type="text/javascript">
      $(document).ready( function () {
        });
    </script>
{% endblock %}
